LMSGI/Tarea_tema_4/torneo.dtd

<!-- ELEMENTOS-->
<!ELEMENT torneo (participante+)>

<!ELEMENT participante (nombre,  edad, pais, cabezaDeSerie?)>

<!ELEMENT nombre (#PCDATA)>
<!ELEMENT edad (#PCDATA)>
<!ELEMENT pais (#PCDATA)>
<!ELEMENT cabezaDeSerie EMPTY>

<!-- ATRIBUTOS -->
<!ATTLIST torneo edicion CDATA #REQUIRED>
<!ATTLIST torneo anteriorGanador CDATA #REQUIRED>
<!ATTLIST participante idP ID #REQUIRED>
<!ATTLIST participante pareja IDREF #REQUIRED>
